<div class="tasks">
  <header>
    <h1>Task List</h1>
  </header>

  <!-- task filter -->
   <div class="tasks__filter-container">
    <select class="tasks__selector" [(ngModel)]="filter" (ngModelChange)="filterTasks()">
      <option value="all">All</option>
      <option value="completed">Completed</option>
      <option value="incomplete">Incomplete</option>
    </select>
   </div>

   <!-- task input -->
  <div class="tasks__input-container">
    <input 
      class="tasks__input" 
      type="text" 
      placeholder="Add new Task" 
      [(ngModel)]="text" 
      (keyup.enter)="addTask()">
    <app-button [text]="'Add'" [style]="'primary'" (btnClick)="addTask()"></app-button>
  </div>

  <!-- tasks list -->
  <div class="tasks__list">
    <app-task-item 
      *ngFor="let task of tasks; trackBy: trackByTaskId" 
      [task]="task"
      (removeTask)="openConfirmationModal(task.id)" 
      (toggleTask)="toggleTask(task.id)">
    </app-task-item>
  </div>

  <!-- confirmation modal -->
  <div *ngIf="confirmationModalOpen" class="modal">
    <div class="modal-content">
      <p>Are you sure you want to delete this task?</p>
      <div class="modal-content__buttons">
        <app-button [text]="'Confirm'" (btnClick)="confirmModal()"></app-button>
        <app-button [text]="'Cancel'" [style]="'secondary'" (btnClick)="cancelModal()"></app-button>
      </div>
    </div>
  </div>
</div>